body.light-theme {
  background-color: #edebeb;
  color: #2c5b81;
}

body.dark-theme {
  background-color: #342f2f;
  color: #2c5b81;
  
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.active {
  color: rgb(63, 148, 148);
}


.white-box {
  background-color: #855858;
  color: #a7a3a3;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-theme .white-box {
  background-color: rgb(237, 230, 230);
  color: #ddd1d1;
}